# QUESTION:
As a Senior backend engineer at Jovian, you are tasked with developing a fast in-memory data structure to manage profile information (Username, name and email) for 100million users. It should allow rhe following operations to be performed effectively:
1. `Insert` the profile information for a new user.
2. `Find` the profile information of a user, given their username.
3. `Update` the profile information of a user, given their username.
4. `List` all the users of the platform, sorted by username.

You can assume that usernames are unique.

# 1.Write the Problem in Your Own Words and Define Inputs and Outputs.

Problem:
we need to create a data structure which can store 100million records and perform `insertion, search, update and list` operations efficiently.

Input:Our inputs will be profile informations`( username,name,email)` of the user which can be stored using class as a data structure.

Output: Our output are the operations(`insert`, `find`, `update`, `list`) to be performed on the data structure. we can also define these using a class and assigning the operations as atributes of the class.

# INPUT

In [38]:
class User:
    
    def __init__(self, username, name, email):
        
        self.username = username
        self.name = name
        self.email = email 
        print("User profile created")
        
    #def __repr__(self):
        #return f"user(username:'{self.username}', name:'{self.name}', email:'{self.email}')"
    
    def __repr__(self):
        return "user(username = '{}', name = '{}', email = '{}')".format(self.username, self.name, self.email)
    
    def __str__(self):
        return self.__repr__()

In [2]:

user1 = User("Code_Evolver", "Goody",
             "goody@mail.com")

User profile created

In [3]:
print(user1)

user(username = 'Code_Evolver', name = 'Goody', email = 'goody@mail.com')

# OUTPUT 
`insert, find, update, list`

In [4]:
class UserDatabase:
    def insert(self, user):
        pass 
    def find(self, username):
        pass 
    def update(self, user):
        pass 
    def list_all(self):
        pass

# 2.Write example inputs and outputs, Try all edge cases.

Example inputs:

In [5]:
dave = User("Dave", "Dave Mark",
            "dave@mail.com")
john = User("John", "John Doe",
            "john@mail.com")
mark = User("Mark", "Mark Harry",
            "mark@mail.com")
peter = User("Peter","Peter Roy",
             "peter@mail.com")
quinn = User("Quinn", "Quinn Doe",
            "quinn@mail.com")
ray = User("Ray", "Ray Blow",
            "ray@mail.com")
Kane = User("Mark", "Mark Kane",
            "kane@mail.com")

User profile created
User profile created
User profile created
User profile created
User profile created
User profile created
User profile created

In [6]:
users = [dave, john, mark, peter,
         quinn, ray]

In [7]:
print(dave)

user(username = 'Dave', name = 'Dave Mark', email = 'dave@mail.com')

Example outputs:

Since we have not yet implement our data structures we can not come up with list outputs but we can write scenario test output cases for `insert`, `find`, `update` and `list_all`.


1. Insert:

   A. inserting into an empty database.
   
   B. inserting a username that already exists in the database.
   
   C. inserting a username that doesn't exist in the Database.
   
   D:inserting alphanumeric as user name into the database. 
   
   E. inserting multiple users at a time with unique user names.
   
   F. inserting multiple users at the same time with repeating username.
   
   
   
2. Find:

   A. searching an empty Database.
   
   B. searching a user in the database with a user name that doesn't exist.
   
   C. Searching a user with an existing username.
   
   D. searching multiple users at a time.
   
   E. Searching user that shares username with another user if possible.
   
   
   
3. Update:

   A. updating an empty database. 
   
   B. updating a user with no initial record on the Database.
   
   C. updating an existing user record in a database.
   
   D. updating a user record without change in user profile.
   
   
   
4. List_all:

   A. list of all users in a database.
   
   B. list of all users except one.
   
   C.list of all users' username.
   
   D.list of all users' email.

# 3.Come Up With Correct Solution and State it in Plain English

Here is a simple and easy solution to the problem. We store `User` Objects in a list sorted by usernames.

The functions can be implemented as follows:
 1. Insert:Loop through the list and add a new user at a position that keeps the list sorted. 
 2. Find:Loop through the list and find the user object with a username matching the query.
 3. Update:Loop through the list to find the user object matching the query and update the details.
 4. List: Return the list of user objects. 

We can use the fact username, string can be compared using `<`,`>` and `==` operators in python.

In [8]:
a = "john"
b = "dave"
c = a > b
if c == True:
    print(b,",",a)
else:
    print(a,",",b)

dave , john

In [9]:
class UserDatabase:
    def __init__(self):
        self.users = []
    def insert(self, user):
        #let index position = i 
        i = 0
        while i < (len(self.users)):
            if len(self.users) > 0:
                if self.users[i].username > user.username:
                    break 
            i += 1
        #self.users.insert(position to insert user, user to be inserted)
        self.users.insert(i, user)
        return "New user(s) entered"
        
    def find(self, username):
        for user in self.users:
            if user.username == username:
                return user 
                break 
                
    def update(self, user):
        target = self.find(user.username)
        
        target.email = user.email
        target.name = user.name
        updated = (f"name:{target.name == user.name}",
                  f"email:{target.email == user.email}")
        return f"updated:{updated}"
    
    def list_all(self):
        return self.users

In [10]:
database = UserDatabase()

In [11]:
database.insert(dave)
database.insert(quinn)
database.insert(mark)

'New user(s) entered'

In [12]:
database.list_all()

[user(username = 'Dave', name = 'Dave Mark', email = 'dave@mail.com'),
 user(username = 'Mark', name = 'Mark Harry', email = 'mark@mail.com'),
 user(username = 'Quinn', name = 'Quinn Doe', email = 'quinn@mail.com')]

In [13]:
database.insert(john)

'New user(s) entered'

In [14]:
database.list_all()

[user(username = 'Dave', name = 'Dave Mark', email = 'dave@mail.com'),
 user(username = 'John', name = 'John Doe', email = 'john@mail.com'),
 user(username = 'Mark', name = 'Mark Harry', email = 'mark@mail.com'),
 user(username = 'Quinn', name = 'Quinn Doe', email = 'quinn@mail.com')]

In [15]:
#This function inserts another 
#profile of the user "mark"
#This is User duplication!(problem)
database.insert(mark)

'New user(s) entered'

In [16]:
try:
    database.find(trunk)
except:
    print("Search Not found!")

Search Not found!

In [17]:
#To show duplication in the 
#database due to the insert() function 
database.list_all()

[user(username = 'Dave', name = 'Dave Mark', email = 'dave@mail.com'),
 user(username = 'John', name = 'John Doe', email = 'john@mail.com'),
 user(username = 'Mark', name = 'Mark Harry', email = 'mark@mail.com'),
 user(username = 'Mark', name = 'Mark Harry', email = 'mark@mail.com'),
 user(username = 'Quinn', name = 'Quinn Doe', email = 'quinn@mail.com')]

In [18]:
database.update(User(username ="Mark",name = "Mark M",email = "markm@mail" ))
#This function creates a new 
#profile detail
#And updates the detail for any 
#given instance of the "username"
#which shows that we should a avoid 
#username duplication in the 
#database
#OR
#???

User profile created

"updated:('name:True', 'email:True')"

In [19]:
#This shows of all given instance 
#of a username is updated.
list_of_users = database.list_all()
print(list_of_users)
print(f"No of users:{len(list_of_users)}")

[user(username = 'Dave', name = 'Dave Mark', email = 'dave@mail.com'), user(username = 'John', name = 'John Doe', email = 'john@mail.com'), user(username = 'Mark', name = 'Mark M', email = 'markm@mail'), user(username = 'Mark', name = 'Mark M', email = 'markm@mail'), user(username = 'Quinn', name = 'Quinn Doe', email = 'quinn@mail.com')]
No of users:5

In [20]:
#Only an instance of this username 
#is located in the database
#as it is linear search 
#Automatically the first instance 
#is found and returned as output.
#Emphasises the fact that only 
#an instance of a username should 
#be allowed in the database 
#even if users are different.
user = database.find("Mark")
user

user(username = 'Mark', name = 'Mark M', email = 'markm@mail')

# Now let's run tests for our output cases

1. Insert:
   A. inserting into an empty database.
   
   B. inserting a username that already exists in the database.
   
   C. inserting a username that doesn't exist in the Database.
   
   D:inserting alphanumeric as user name into the database. 
   
   E. inserting multiple users at a time with unique user names.
   
   F. inserting multiple users at the same time with repeating username.
   
   
   
2. Find:
   A. searching an empty Database.
   
   B. searching a user in the database with a user name that doesn't exist.
   
   C. Searching a user with an existing username.
   
   D. searching multiple users at a time.
   
   E. Searching user that shares username with another user if possible.
   
   
   
3. Update:
   A. updating an empty database. 
   
   B. updating a user with no initial record on the Database.
   
   C. updating an existing user record in a database.
   
   D. updating a user record without change in user profile.
   
   
   
4. List_all:
   A. list of all users in a database.
   
   B. list of all users except one.
   
   C.list of all users' username.
   
   D.list of all users' email

insert:
D:inserting alphanumeric as user name into the database.
E. inserting multiple users at a time with unique user names.
F. inserting multiple users at the same time with repeating username.

In [21]:
garry = User("Garry2","Garry Dem","garry@mail")

User profile created

In [22]:
test = {'input':{'database':database},
        'output':"New user(s) entered"}

In [23]:
users = test['input']['database']
output = test['output']

result = database.insert(garry)

output, result, output == result

('New user(s) entered', 'New user(s) entered', True)

Find: A. searching an empty Database.
B. searching a user in the database with a user name that doesn't exist.
C. Searching a user with an existing username.
D. searching multiple users at a time.
E. Searching user that shares username with another user if possible.

In [ ]:

test2 = {'input':{'database':database},
         
        'output':user}

In [37]:
users2 = test2['input']['database']
output2 = test2['output']

#Note: a user is searched given 
#the username(case sensitive)
result2 = database.find("Mark"), database.find("Garry2"), database.find("John")

output2, result2, output2 == result2

(None,
 (user(username = 'Mark', name = 'Mark M', email = 'markm@mail'),
  user(username = 'Garry2', name = 'Garry Dem', email = 'garry@mail'),
  user(username = 'John', name = 'John Doe', email = 'john@mail.com')),
 False)

Update: A. updating an empty database.
B. updating a user with no initial record on the Database.
C. updating an existing user record in a database.
D. updating a user record without change in user profile.

In [ ]:
test3 = {'input':{'database':database},
         'output':"updated:('name:True', 'email:True')"
        }

In [ ]:
users3 = test3['input']['database']
output3 = test3['output']

result3 = database.update(User("Mark", "Mark Kenny", "markny@mail"))

result3, result3 == output3

List_all: A. list of all users in a database.
B. list of all users except one.
C.list of all users' username.
D.list of all users' email

In [ ]:
test4 = {'input':{'database':database},
         'output':database.list_all()}

In [ ]:
users4 = test4['input']['database']
output4 = test4['output']

result4 = database.list_all()

result4 == output4

In [ ]:
database.list_all()

In [ ]:
class User_Verifi:
    def __init__(self):
        self.users = []
    def insert(self, user):